@* index Template File *@
@(param: String)
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>@param</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("lib/extjs/resources/ext-theme-neptune/ext-theme-neptune-all-rtl.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<script type="text/javascript" src="@routes.Assets.at("lib/extjs/ext-all.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascript/app.js")"></script>
</head>
<body></body>
</html>
